node_modules/
*.DS_Store
# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
**/__pycache__/
local_settings.py
db.sqlite3
media
.ipynb_checkpoints/
*.ipynb
.idea/
.vscode/
.DS_Store
.env
Pipfile
static/
compiled_assets
compiled_assets/*
uploads
huey.db
celerybeat*
.coverage
htmlcov/*
static/*
.anaconda
Pipfile.lock
dump.rdb

# End of https://www.gitignore.io/api/django